body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding: 0px 96px;
}

button {
    background-color: #3882f6;
    font-family: inherit;
    color: inherit;
    border-radius: 8px;
    border-style: none;
    padding: 8px 24px;
    margin: 16px 0px;
}

header>img {
    height: 100px;
}

.tile>img {
    flex-basis: 200px;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    border: 4px #3882f6;
    border-style: solid;
    border-radius: 16px;
    object-fit: scale-down;
}

.tiletext {
    color: #747B86;
    text-align: center;
    margin: 8px;

}

ul {
    list-style: none;
    display: flex;
    margin: 48px 0px;
    gap: 24px;
}

a {
    text-decoration: inherit;
    list-style: none;
    color: #e5e7eb;
} 

.topcontent {
    background-color: #1f2937;
    display: flex;
    padding: 96px;
    justify-content: center;
    gap:24px;
    align-items: center;
}

.container {
    flex-shrink: 2;
}

.heropic {
    height: auto;
    object-fit: scale-down;
    flex-basis: 500px;
    border-radius: 8px;
    min-width: 200px;
    flex-shrink: 2;
}

.h1text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 16px 0px;
}

.h2text {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    Margin: 48px;
}

.lowercontent {
    background-color: #e5e7eb;
    padding: 96px;
}

.quotetext {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.attribtext {
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

.calltoaction {
    background-color: #3882f6;
    padding: 36px 96px;
    border-radius: 16px;
    border-style: none;
    margin: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bottombutton {
    border-style: solid;
    border-color: #f9faf8;
    flex-shrink: 0;
}

footer {
    background-color: #1f2937;
    text-align: center;
    padding: 24px;
}

.tileset {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 48px 96px;
}

.h3text {
    color: #f9faf8;
    font-weight: 600;
    font-size: 24px;
}

.tile {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}